.App {
  align-content: center;
  width: 400px;
  margin: 25px;
  border: 1px solid black;
}



.button {
  color: blue;
}

.first,
.second {
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.third {
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: green;
}
.border{
  margin: 25px;
  border: 1px solid gray;
}

.progress{
  color: rgba(255, 0, 0, 0.884);
}
.back{
  background-color: rgba(0, 0, 0, 0.548);
width: auto;
height: 25px;
padding-top: 5px;
margin: 25px;
 }